defaults {
  polling_interval        2
  path_selector           "round-robin 0"
  path_grouping_policy    "group_by_prio"
  uid_attribute           ID_SERIAL
  rr_min_io               100
  failback                immediate
  no_path_retry           queue
  user_friendly_names     yes
  find_multipaths         yes
}

blacklist {
  wwid .*
}

blacklist_exceptions {
{% for stor in proxmox_ve__storage_iscsi %}
{% for item in stor.volumes %}
  wwid "{{ item.wwid }}"
{% endfor %}
{% endfor %}
}

multipaths {
{% for stor in proxmox_ve__storage_iscsi %}
{% for item in stor.volumes %}
  multipath {
    wwid "{{ item.wwid }}"
    alias {{ item.name }}
  }
{% endfor %}
{% endfor %}
}
